.card {
margin-bottom: 58px;
width: 50px;
}

.container {
    margin-left: 5%;
    width: 40px;
}

.row{
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    background-color: rgba(39,41,43,0.03);
    border: 1px solid rgba(39,41,43,0.1);
}